%ul#categorycrumb
  %li= link_to 'All categories', comfy_blog_posts_path(locale: layout_locale)
  - Category.for_this_site(@cms_site).order("LOWER(name) ASC").each do |category|
    %li= link_to category.name, comfy_blog_posts_path(category: category.name, locale: layout_locale)
